.dashboard {
	min-height: 100vh;

	padding-top: calc(92px + 16px);

	display: flex;
	justify-content: center;

	&__inner {
		height: 100%;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__form {
		width: 100%;
		max-width: 580px;

		display: flex;
		flex-direction: column;
		gap: 32px;
	}
}
