/* .advantages__block */

.advantages__block {
	/* .advantages__block-icon */
	padding: 32px;

	display: flex;
	flex-direction: column;
	flex: 1;
	gap: 16px;

	background: white;
	border-radius: 16px;

	&-icon {
		width: 32px;
		height: 32px;

		padding: 16px;

		background: $rgba-primary;
		border-radius: 100%;
		box-sizing: content-box;
	}

	/* .advantages__block-title */

	&-title {
	}

	/* .advantages__block-text */

	&-text {
	}
}
