.burger-button {
	width: 48px;
	height: 48px;

	border: none;
	border-radius: $border-radius;

	background: none;

	position: relative;

	&:hover {
		background-color: $primary-500;
	}

	&:active {
		background: $primary-600;
	}

	// Создание центральной полоски
	&::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		translate: -50% -50%;

		width: 50%;
		height: 2px;

		background-color: $dark-100;
		border-radius: $border-radius;

		// Создание полосок сверху и снизу
		box-shadow: 0 -8px $dark-100, 0 8px $dark-100;
	}
}
