.button {
	padding: 1rem 1.5rem;

	color: $dark-100;
	background-color: $primary-300;
	border-radius: 0.5rem;

	@include fluid-text(16, 14);

	font-weight: 400;

	&:hover {
		color: $dark-100;
		background-color: $primary-100;
	}

	&--transparent {
		color: $primary-500;
		background-color: inherit;
		border: 1px solid $primary-500;
	}

	&--mobile {
		width: 100%;

		font-size: 18px;
	}
}
