.cross-button {
	width: 48px;
	height: 48px;

	border: none;
	border-radius: $border-radius;

	background: none;

	position: relative;

	&:hover {
		background-color: $primary-500;
	}

	&:active {
		background-color: $primary-600;
	}

	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 12px;

		width: 50%;
		height: 2px;

		background-color: $dark-100;
		border-radius: $border-radius;
	}

	&::before {
		rotate: 45deg;
	}

	&::after {
		rotate: -45deg;
	}
}
