.header {
	/* .header__inner */
	position: fixed;
	z-index: 1000;

	padding: $padding-inner 0;

	width: 100%;

	background-color: #fff;

	-webkit-box-shadow: $box-shadow;
	-moz-box-shadow: $box-shadow;
	box-shadow: $box-shadow;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: 64px;
	}

	/* .header__logo */

	&__logo {
		display: inline-flex;
		align-items: center;
		column-gap: 8px;
	}

	/* .header__title */

	&__title {
		color: $primary-100;

		@include fluid-text(20, 18);
		font-weight: 500;

		text-transform: uppercase;
	}

	/* .header__menu */

	&__menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-grow: 1;

		/* .header__menu-list */
		&-list {
			display: inline-flex;
			column-gap: 8px;
		}

		/* .header__menu-item */

		&-item {
		}

		/* .header__menu-link */

		&-link {
			padding: 8px;

			color: $dark-600;
			font-weight: 400;

			&:hover {
				color: $dark-200;
			}

			&.active {
				color: $dark-100;
			}
		}
	}

	&__auth {
		display: flex;
		align-items: center;
		column-gap: 32px;

		font-weight: 400;
	}
}
.logo {
	/* .logo__image */
	width: 32px;
	height: 32px;

	&__image {
	}
}
