.authorization {
	height: 100vh;

	background: url('../../images/background-2.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	&__inner {
		height: 100%;

		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__form {
		padding: 64px;

		@include tablet {
			padding: 32px;
		}

		width: 100%;
		max-width: 580px;

		display: flex;
		flex-direction: column;
		gap: 32px;

		background: white;
		border-radius: 16px;

		-webkit-box-shadow: $box-shadow;
		-moz-box-shadow: $box-shadow;
		box-shadow: $box-shadow;
	}
}
