@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
	color: $dark-100;
	background-color: #fff;

	font-family: $font-family-base;

	@include fluid-text(16, 14);

	font-weight: 300;

	&.modal-open {
		overflow: hidden;
	}

	&::-webkit-scrollbar {
		width: 8px;
	}

	&::-webkit-scrollbar-track {
		background: $rgba;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $primary-100;
	}
}

mark {
	background: none;
	color: $primary-100;
}

h1 {
	@include fluid-text(48, 42);
	font-weight: 700;
}

h2 {
	@include fluid-text(32, 28);
	font-weight: 500;
}

h3 {
	@include fluid-text(24, 20);
	font-weight: 500;
}

h4 {
	@include fluid-text(20, 18);
	font-weight: 500;
}

h5 {
	@include fluid-text(14, 12);
	font-weight: 500;
}

section {
	padding: $section-padding-y 0;
}

button {
	font-family: $font-family-base;
}
