$primary-100: #ff7a00;
$primary-200: #ff8a2e;
$primary-300: #ff994b;
$primary-400: #ffa865;
$primary-500: #ffb67e;
$primary-600: #ffc597;

// Dark/Mixed - 100: For body background color
$dark-100: #2b2a29;
// Dark/Mixed - 200: For cards background color
$dark-200: #3f3e3d;
// Dark/Mixed - 300: For chips buttons, dropdowns background color
$dark-300: #545353;
// Dark/Mixed - 400: For sidebars, navbar background color
$dark-400: #6b6a69;
// Dark/Mixed - 500: For modal, dialogs background color
$dark-500: #828180;
// Dark/Mixed - 600: For on background texts color
$dark-600: #999998;

$container-width: 1240px;
$padding-inner: 20px;

$section-padding-y: 80px;

$border-radius: 8px;

$font-family-base: 'Inter', sans-serif;

$box-shadow: 0px 4px 8px 0px rgba($dark-100, 0.1);

$transition-duration: 0.2s;
