.intro {
	height: 100vh;

	@include mobile {
		height: 100%;
	}

	padding-top: calc(90px + 16px);

	background: url('../../images/background-1.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	&__inner {
		display: flex;
		align-items: center;
		gap: $padding-inner;

		height: 100%;

		@include mobile() {
			flex-direction: column;
		}
	}

	/* .intro__text */

	&__text {
		display: flex;
		flex-direction: column;
		row-gap: 24px;

		width: 50%;

		@include mobile() {
			padding-top: 96px;

			width: 100%;
			align-items: center;
			text-align: center;
		}

		@include small-mobile {
			padding-top: 64px;
		}
	}

	/* .intro__title */

	&__title {
	}

	/* .intro__subtitle */

	&__subtitle {
	}

	/* .intro__introduction */

	&__introduction {
		display: flex;
		align-items: center;
		column-gap: 16px;
	}

	/* .intro__button */

	&__button {
	}

	/* .intro__link */

	&__link {
	}

	&__background {
		display: flex;
		justify-content: center;
		align-items: flex-end;

		height: 100%;
		width: 50%;

		@include mobile {
			width: 85%;
		}

		@include small-mobile {
			width: 100%;
		}

		& img {
			width: 100%;

			@include mobile {
				height: 350px;
				object-position: top;
			}
		}
	}
}

.about {
	/* .about__inner */

	&__inner {
		display: flex;
		justify-content: space-between;
		gap: $padding-inner;

		@include mobile {
			flex-direction: column;
		}
	}

	/* .about__information */

	&__information {
		flex: 1;

		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	/* .about__title */

	&__title {
		text-wrap: balance;
	}

	/* .about__text */

	&__text {
	}

	/* .about__button */

	&__button {
	}

	/* .about__stages */

	&__stages {
		flex: 2;

		display: grid;
		grid-auto-columns: 1fr;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
		gap: 20px 20px;

		@include small-mobile {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}

.advantages {
	/* .advantages__inner */
	background: $rgba;

	&__inner {
	}

	/* .advantages__title */

	&__title {
		margin-bottom: 64px;
	}

	/* .advantages__blocks */

	&__blocks {
		display: flex;
		gap: 20px;

		@include mobile {
			flex-direction: column;
		}
	}
}
